.top-nav{
    height: 30px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.bt-nv{
    border-radius: 10px;
    font-size: 15px;
    margin-top: 5px;
    background-color: black;
    color: white;
}

.logo{
    width: 30px;
}

.logo-testo{
    width: 50px;
    margin-right:10px ;
}

.mode{
    justify-content: space-between;
}

.bck-img{
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    
    background-size: cover;
    
}

.contenent{
    color: white;
    margin-top: 180px;
}

.contenent p{
font-size: 12px;
}
.contenent h1{
    font-size: 20px;
    }
.contenent div{
    margin:5px 0px ;
}   
.returnal{
    height: 20px;
}

.container.paddy{
    
}

.jambotrone-button{
    height: 18px;
    font-size: 10px;
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
}

.card img , .box img{
    width: 100%;
    border-radius: 10px;
}
.card{
    border: none;
    margin-top: 20px;
}

.card div{
    margin-top: 10px;
}

.centered{
    
    display: flex;
    flex-direction: column;
    text-align: center;
}
 .marg{
     margin-top: 40px;
}

.marg h4{
    color: grey;
    margin-top: 10px;
}
.centered a{
    margin-right: 20px;
    
}

.leftext{
    margin-top: 50px;
    vertical-align: middle;
}

.blue{
    background: blue;
    font-size: 14px;
    height: 30px;
    padding:2px
}

.ps5 img, .bkg-g .container .row img, #april, .discount img , .bkg-b{
    width: 100%;
}

#ridimension ,#april {
    width:80%
}

.cl img{
    width: 100%;
    padding:5px 0px
}

.verticalcenter{
    display: flex;
    align-items: center;
}

.box img{
    width: 60%;
}

.box{
    justify-content: space-between;
    
}

.main-img{
    margin-top: 20px;
    width: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
}

.it-take{
    height: 80px;
}

.contenent-2{
    color: white;
    
}

.contenent-2 div{
    margin: 10px 0px;
    padding-top: 50px;
}

.img-grey{
    background-color: rgb(87, 86, 86);
    color: white;
    
    
}



.text-grey{
    padding-top: 10px;
    color: white;
   
}

.img-grey .container img{
    width: 100%;
    
    border-radius: 20px;
}

.img-grey h3 {
    font-size: 14px;
}

.text-description, .psn {
    padding-top: 70px;
}

.text-description p {
    margin-top: 5px;
    color: grey;
}

.bkg-g{
background-color: lightgray;

margin-top: 40px;
}

.psn p {
    font-size: 10px;
}

.psn{
    margin-left: 50px;
}



.bkg-b{
    background-color: rgb(2, 2, 53);
    margin-top: 50px;
    
    color: white;
    
}

.bkg-btext{
    padding-top: 80px;
}

.bkg-btext div{
    margin: 20px 0px;
}

.bkg-blue {
    background-color: blue;
    margin-top: 40px;
}

.bkg-blue span img{
    width: 3%;
    margin-top: 30px;
    vertical-align: sub;
}

.globo-text{
    color: white;
    margin-left: 12px;
    vertical-align: middle;

}

.globo-text h6{
    display: inline-block;
}

.row ul{
    color: white;
    margin-top: 50px;
    list-style: none;
}

.margs{
    margin-top: 50px;
}

.logo-sie{
    width: 100px;
}

.white{
    color: white;
}